In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("MLB_90s_to_10s.csv")

In [4]:
df=df.drop(columns=["Unnamed: 0","Unnamed: 0.1","Lg","Pos Summary","Rk"])
df.head(3)

,Name,Age,Tm,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,Paul Abbott\abbotpa01,23,MIN,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1,Shawn Abner\abnersh01,25,TOT,94,230,216,27,42,10,2,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
2,Shawn Abner\abnersh01,25,SDP,53,125,115,15,19,4,1,...,0.218,0.243,0.461,28.0,28,3,1,1,1,4

In [5]:
def name_split(name):
    if "*" in name:
        name=name.split("*")
        return name[0]
    elif "#" in name:
        name=name.split("#")
        return name[0]
    else:
        name=name.split("\\")
        return name[0]

In [6]:
df["Name"] = df.apply(lambda row: name_split(row["Name"]), axis=1)
df.head(5)

,Name,Age,Tm,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,Paul Abbott,23,MIN,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1,Shawn Abner,25,TOT,94,230,216,27,42,10,2,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
2,Shawn Abner,25,SDP,53,125,115,15,19,4,1,...,0.218,0.243,0.461,28.0,28,3,1,1,1,4
3,Shawn Abner,25,CAL,41,105,101,12,23,6,1,...,0.257,0.366,0.623,72.0,37,3,0,0,0,0
4,Troy Afenir,27,OAK,5,11,11,0,1,0,0,...,0.091,0.091,0.182,-48.0,1,1,0,0,0,0

In [7]:
df2=df

In [8]:
len(df2)

36751

In [9]:
for i in range(0,len(df2)):
    try:
        if df2["Tm"][i]=="TOT":
            name=df2["Name"][i]

            if df2["Name"][i+4] == name:
                df2["Tm"][i]=df2["Tm"][i+4]
                df2=df2.drop(index=[i+1,i+2,i+3,i+4],axis=0)

            elif df2["Name"][i+3] == name:
                df2["Tm"][i]=df2["Tm"][i+3]
                df2=df2.drop(index=[i+1,i+2,i+3],axis=0)

            elif df2["Name"][i+2] == name:
                df2["Tm"][i]=df2["Tm"][i+2]
                df2=df2.drop(index=[i+1,i+2],axis=0)
    except KeyError:
        pass
            
df2.head(25)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Name,Age,Tm,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,Paul Abbott,23,MIN,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
1,Shawn Abner,25,CAL,94,230,216,27,42,10,2,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
4,Troy Afenir,27,OAK,5,11,11,0,1,0,0,...,0.091,0.091,0.182,-48.0,1,1,0,0,0,0
5,Juan Agosto,33,STL,72,4,3,0,1,0,0,...,0.500,0.333,0.833,140.0,1,0,0,0,0,0
6,Rick Aguilera,29,MIN,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
7,Darrel Akerfelds,29,PHI,30,3,3,0,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
8,Mike Aldrete,30,CLE,97,240,198,24,48,6,1,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
11,Luis Alicea,25,STL,56,76,68,5,13,3,0,...,0.276,0.235,0.512,46.0,16,0,0,0,0,0
12,Andy Allanson,29,DET,60,160,151,10,35,10,0,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
13,Dana Allison,24,OAK,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
14,Beau Allred,26,CLE,48,156,125,17,29,3,0,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
15,Roberto Alomar,23,TOR,161,719,637,88,188,41,11,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3
16,Sandy Alomar,25,CLE,51,199,184,10,40,9,0,...,0.264,0.266,0.530,47.0,49,4,4,2,1,1
17,Rich Amaral,29,SEA,14,18,16,2,1,0,0,...,0.167,0.063,0.229,-33.0,1,1,1,0,0,0
18,Ruben Amaro,26,CAL,10,26,23,0,5,1,0,...,0.308,0.261,0.569,60.0,6,1,0,0,0,1
19,Larry Andersen,38,SDP,38,2,2,0,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
20,Allan Anderson,27,MIN,1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
21,Brady Anderson,27,BAL,113,313,256,40,59,12,3,...,0.338,0.324,0.662,88.0,83,1,5,11,3,0
22,Dave Anderson,30,SFG,100,240,226,24,56,5,2,...,0.286,0.314,0.600,72.0,71,8,0,2,0,2
23,Eric Anthony,23,HOU,39,132,118,11,18,6,0,...,0.227,0.229,0.456,33.0,27,2,0,0,2,1
24,Jack Armstrong,26,CIN,27,49,43,3,4,1,0,...,0.114,0.116,0.230,-36.0,5,1,0,5,0,0
25,Andy Ashby,23,PHI,8,13,12,0,1,0,0,...,0.083,0.083,0.167,-53.0,1,0,0,1,0,0
26,Paul Assenmacher,30,CHC,75,5,4,1,1,0,0,...,0.400,0.250,0.650,85.0,1,0,0,0,0,0
27,Steve Avery,21,ATL,37,88,79,4,17,1,1,...,0.253,0.253,0.506,40.0,20,1,0,5,0,0
28,Oscar Azocar,26,SDP,38,60,57,5,14,2,0,...,0.267,0.281,0.547,53.0,16,1,1,0,1,1

In [10]:
for i in range(0,len(df)):
    try:
        if np.isnan(df2["OBP"][i]):
            df2=df2.drop(index=i,axis=0)
    except KeyError:
        pass
df2.head(10)

,Name,Age,Tm,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
1,Shawn Abner,25,CAL,94,230,216,27,42,10,2,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
4,Troy Afenir,27,OAK,5,11,11,0,1,0,0,...,0.091,0.091,0.182,-48.0,1,1,0,0,0,0
5,Juan Agosto,33,STL,72,4,3,0,1,0,0,...,0.500,0.333,0.833,140.0,1,0,0,0,0,0
7,Darrel Akerfelds,29,PHI,30,3,3,0,0,0,0,...,0.000,0.000,0.000,-100.0,0,0,0,0,0,0
8,Mike Aldrete,30,CLE,97,240,198,24,48,6,1,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
11,Luis Alicea,25,STL,56,76,68,5,13,3,0,...,0.276,0.235,0.512,46.0,16,0,0,0,0,0
12,Andy Allanson,29,DET,60,160,151,10,35,10,0,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
14,Beau Allred,26,CLE,48,156,125,17,29,3,0,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
15,Roberto Alomar,23,TOR,161,719,637,88,188,41,11,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3
16,Sandy Alomar,25,CLE,51,199,184,10,40,9,0,...,0.264,0.266,0.530,47.0,49,4,4,2,1,1

In [11]:
for i in range(0,len(df)):
    try:
        if df2["PA"][i]<150:
            df2=df2.drop(index=i,axis=0)
    except KeyError:
        pass
df2.head(10)

,Name,Age,Tm,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
1,Shawn Abner,25,CAL,94,230,216,27,42,10,2,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
8,Mike Aldrete,30,CLE,97,240,198,24,48,6,1,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
12,Andy Allanson,29,DET,60,160,151,10,35,10,0,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
14,Beau Allred,26,CLE,48,156,125,17,29,3,0,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
15,Roberto Alomar,23,TOR,161,719,637,88,188,41,11,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3
16,Sandy Alomar,25,CLE,51,199,184,10,40,9,0,...,0.264,0.266,0.530,47.0,49,4,4,2,1,1
21,Brady Anderson,27,BAL,113,313,256,40,59,12,3,...,0.338,0.324,0.662,88.0,83,1,5,11,3,0
22,Dave Anderson,30,SFG,100,240,226,24,56,5,2,...,0.286,0.314,0.600,72.0,71,8,0,2,0,2
29,Wally Backman,31,PHI,94,220,185,20,45,12,0,...,0.344,0.308,0.652,86.0,57,2,0,2,3,0
30,Carlos Baerga,22,CLE,158,654,593,80,171,28,2,...,0.346,0.398,0.744,105.0,236,12,6,4,3,5

In [12]:
len(df2)

10999

In [13]:
df2.to_csv("MLB_90s_to_10s_CLEAN.csv")

In [14]:
df2.drop(columns=['Tm'],axis=1)

,Name,Age,G,PA,AB,R,H,2B,3B,HR,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
1,Shawn Abner,25,94,230,216,27,42,10,2,3,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
8,Mike Aldrete,30,97,240,198,24,48,6,1,1,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
12,Andy Allanson,29,60,160,151,10,35,10,0,1,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
14,Beau Allred,26,48,156,125,17,29,3,0,3,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
15,Roberto Alomar,23,161,719,637,88,188,41,11,9,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3
16,Sandy Alomar,25,51,199,184,10,40,9,0,0,...,0.264,0.266,0.530,47.0,49,4,4,2,1,1
21,Brady Anderson,27,113,313,256,40,59,12,3,2,...,0.338,0.324,0.662,88.0,83,1,5,11,3,0
22,Dave Anderson,30,100,240,226,24,56,5,2,2,...,0.286,0.314,0.600,72.0,71,8,0,2,0,2
29,Wally Backman,31,94,220,185,20,45,12,0,0,...,0.344,0.308,0.652,86.0,57,2,0,2,3,0
30,Carlos Baerga,22,158,654,593,80,171,28,2,11,...,0.346,0.398,0.744,105.0,236,12,6,4,3,5
31,Jeff Bagwell,23,156,650,554,79,163,26,4,15,...,0.387,0.437,0.824,139.0,242,12,13,1,7,5
32,Harold Baines,32,141,566,488,76,144,25,1,20,...,0.383,0.473,0.857,143.0,231,12,1,0,5,22
34,Bret Barberie,23,57,162,136,16,48,12,2,2,...,0.435,0.515,0.949,168.0,70,4,2,1,3,2
35,Jesse Barfield,31,84,321,284,37,64,12,0,17,...,0.312,0.447,0.759,108.0,127,11,0,0,1,6
37,Skeeter Barnes,34,75,171,159,28,46,13,2,5,...,0.325,0.491,0.816,121.0,78,1,0,2,1,1
39,Kevin Bass,32,124,406,361,43,84,10,4,10,...,0.307,0.366,0.673,92.0,132,12,4,2,3,8
46,George Bell,31,149,603,558,63,159,27,0,25,...,0.323,0.468,0.791,117.0,261,10,4,0,9,6
47,Jay Bell,25,157,697,608,96,164,32,8,16,...,0.330,0.428,0.757,113.0,260,15,4,30,3,1
48,Juan Bell,23,100,223,209,26,36,9,2,1,...,0.201,0.249,0.450,26.0,52,1,0,4,2,0
50,Albert Belle,24,123,496,461,60,130,31,2,28,...,0.323,0.540,0.863,134.0,249,24,5,0,5,2
51,Rafael Belliard,29,149,385,353,36,88,9,2,0,...,0.296,0.286,0.582,61.0,101,4,2,7,1,2
56,Todd Benzinger,28,129,451,416,36,109,18,5,3,...,0.310,0.351,0.661,83.0,146,7,3,2,3,4
60,Dave Bergman,38,86,231,194,23,46,10,1,7,...,0.351,0.407,0.758,108.0,79,2,0,0,2,2
63,Damon Berryhill,27,63,173,160,13,30,7,0,5,...,0.243,0.325,0.568,56.0,52,2,1,0,1,1
66,Dante Bichette,27,134,475,445,53,106,18,3,15,...,0.272,0.393,0.665,84.0,175,9,1,1,6,4
70,Craig Biggio,25,149,609,546,79,161,23,4,4,...,0.358,0.374,0.731,113.0,204,2,2,5,3,3
73,Lance Blankenship,27,90,216,185,33,46,8,0,3,...,0.336,0.341,0.677,94.0,63,2,3,2,3,0
74,Jeff Blauser,25,129,415,352,49,91,14,3,11,...,0.358,0.409,0.767,111.0,144,4,2,4,3,4
77,Wade Boggs,33,144,641,546,93,181,42,2,8,...,0.421,0.460,0.881,140.0,251,16,0,0,6,25
79,Barry Bonds,26,153,634,510,95,149,28,5,25,...,0.410,0.514,0.924,160.0,262,8,4,0,13,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36598,Kelby Tomlinson,28,63,152,140,9,29,4,2,0,...,0.265,0.264,0.529,48.0,37,3,2,1,0,0
36600,Gleyber Torres,21,123,484,431,54,117,16,1,24,...,0.340,0.480,0.820,118.0,207,8,5,1,5,3
36605,Devon Travis,27,103,378,357,41,83,14,3,11,...,0.275,0.381,0.656,80.0,136,8,5,0,0,1
36610,Mike Trout,26,140,608,471,101,147,24,4,39,...,0.460,0.628,1.088,199.0,296,5,10,0,4,25
36611,Mark Trumbo,32,90,358,330,41,86,12,0,17,...,0.313,0.452,0.764,110.0,149,10,2,0,2,0
36614,Preston Tucker,27,97,184,166,19,38,11,0,6,...,0.299,0.404,0.703,88.0,67,2,4,0,1,0
36622,Justin Turner,33,103,426,365,62,114,31,1,14,...,0.406,0.518,0.924,151.0,189,10,12,0,2,3
36623,Trea Turner,25,162,740,664,103,180,27,6,19,...,0.344,0.416,0.760,100.0,276,7,5,2,0,3
36625,Justin Upton,30,145,613,533,80,137,18,1,30,...,0.344,0.463,0.808,122.0,247,12,10,0,6,1
36631,Chase Utley,39,87,187,164,18,35,10,1,1,...,0.305,0.305,0.610,68.0,50,3,5,0,1,2
36633,Luis Valbuena,32,96,288,266,23,53,9,0,9,...,0.253,0.335,0.588,62.0,89,2,1,0,2,3
36635,Danny Valencia,33,78,282,255,28,67,8,1,9,...,0.316,0.408,0.723,100.0,104,8,0,0,5,2
36644,Christian Vazquez,27,80,269,251,24,52,10,0,3,...,0.257,0.283,0.540,46.0,71,5,4,1,0,1
36657,Christian Villanueva,27,110,384,351,42,83,15,0,20,...,0.299,0.450,0.750,105.0,158,12,9,0,1,0
36658,Jonathan Villar,27,141,515,466,54,121,14,1,14,...,0.325,0.384,0.709,93.0,179,13,5,1,2,0
36666,Luke Voit,27,47,161,143,30,46,5,0,15,...,0.398,0.671,1.069,182.0,96,3,1,0,0,0
36671,Joey Votto,34,145,623,503,67,143,28,2,12,...,0.417,0.419,0.837,125.0,211,15,9,0,3,6
36679,Neil Walker,32,113,398,347,48,76,12,1,11,...,0.309,0.354,0.664,79.0,123,3,5,0,4,3
36695,Joey Wendle,28,139,545,487,62,146,33,6,7,...,0.354,0.435,0.789,118.0,212,11,9,2,10,4
36697,Tyler White,27,66,237,210,27,58,12,3,12,...,0.354,0.533,0.888,143.0,112,1,2,0,1,0
36701,Matt Wieters,32,76,271,235,24,56,8,0,8,...,0.330,0.374,0.704,86.0,88,5,3,1,2,3
36707,Nick Williams,24,140,448,407,53,104,12,3,17,...,0.324,0.425,0.749,99.0,173,4,9,0,0,2
36712,Bobby Wilson,35,47,151,135,12,24,8,0,2,...,0.242,0.281,0.523,42.0,38,6,0,2,2,0
36716,Jesse Winker,24,89,334,281,38,84,16,0,7,...,0.405,0.431,0.836,125.0,121,6,2,1,1,4
36723,Tony Wolters,26,74,216,182,19,31,4,4,3,...,0.292,0.286,0.577,48.0,52,6,6,0,2,2
36724,Kolten Wong,27,127,407,353,41,88,18,2,9,...,0.332,0.388,0.720,97.0,137,6,14,6,3,3
36736,Christian Yelich,26,147,651,574,118,187,34,7,36,...,0.402,0.598,1.000,164.0,343,14,7,0,2,2
36747,Ryan Zimmerman,33,85,323,288,33,76,21,2,13,...,0.337,0.486,0.824,114.0,140,10,3,0,2,1
36749,Ben Zobrist,37,139,520,455,67,139,28,3,9,...,0.378,0.440,0.817,115.0,200,8,2,1,7,1
36750,Mike Zunino,27,113,405,373,37,75,18,0,20,...,0.259,0.410,0.669,85.0,153,7,6,0,2,0

In [15]:
df=df2.set_index("Name")
df.head(5)

,Age,Tm,G,PA,AB,R,H,2B,3B,HR,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
Name,,,,,,,,,,,,,,,,,,,,,
Shawn Abner,25,CAL,94,230,216,27,42,10,2,3,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
Mike Aldrete,30,CLE,97,240,198,24,48,6,1,1,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
Andy Allanson,29,DET,60,160,151,10,35,10,0,1,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
Beau Allred,26,CLE,48,156,125,17,29,3,0,3,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
Roberto Alomar,23,TOR,161,719,637,88,188,41,11,9,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3

In [17]:
df=df.drop(columns=["Tm"])
df.head(5)

,Age,G,PA,AB,R,H,2B,3B,HR,RBI,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
Name,,,,,,,,,,,,,,,,,,,,,
Shawn Abner,25,94,230,216,27,42,10,2,3,14,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
Mike Aldrete,30,97,240,198,24,48,6,1,1,20,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
Andy Allanson,29,60,160,151,10,35,10,0,1,16,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
Beau Allred,26,48,156,125,17,29,3,0,3,12,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
Roberto Alomar,23,161,719,637,88,188,41,11,9,69,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3

In [18]:
df=pd.DataFrame()
df=pd.read_csv("MLB_90s_to_10s_CLEAN.csv")
df.head(5)

,Unnamed: 0,Name,Age,Tm,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,Shawn Abner,25,CAL,94,230,216,27,42,10,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4
1,8,Mike Aldrete,30,CLE,97,240,198,24,48,6,...,0.364,0.298,0.662,86.0,59,1,0,1,2,1
2,12,Andy Allanson,29,DET,60,160,151,10,35,10,...,0.266,0.318,0.584,60.0,48,3,0,2,0,0
3,14,Beau Allred,26,CLE,48,156,125,17,29,3,...,0.359,0.328,0.687,92.0,41,1,1,3,2,2
4,15,Roberto Alomar,23,TOR,161,719,637,88,188,41,...,0.354,0.436,0.791,115.0,278,5,4,16,5,3

In [19]:
df=df.drop(columns=["Tm"],axis=1)
df.head(1)

,Unnamed: 0,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,Shawn Abner,25,94,230,216,27,42,10,2,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4

In [20]:
df=df.drop(columns=["Unnamed: 0"], axis=1)
df.head(1)

,Name,Age,G,PA,AB,R,H,2B,3B,HR,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,Shawn Abner,25,94,230,216,27,42,10,2,3,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4

In [21]:
df=df.set_index(["Name"])
df.head(1)

,Age,G,PA,AB,R,H,2B,3B,HR,RBI,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
Name,,,,,,,,,,,,,,,,,,,,,
Shawn Abner,25,94,230,216,27,42,10,2,3,14,...,0.236,0.301,0.537,49.0,65,6,1,1,1,4

In [22]:
df.to_csv("MLB_90s_to_10s.csv")